<html>
  <head>
    <title>Chat</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />

    <style>
      ul#messages {
        list-style: none;
      }
      ul#messages li {
        margin-bottom: 2px;
      }
      ul#messages li img {
        margin-right: 10px;
      }
      input {
        display: block;
      }
      ul {
        list-style: none;
      }
    </style>
    <script>
      let socket;

      document.addEventListener("DOMContentLoaded", () => {
        const messageBox = document.getElementById("messages");
        const chatBox = document.getElementById("chatbox");
        const input = chatBox.querySelector("textarea");

        socket = new WebSocket("ws://localhost:8080/chatRoom");

        chatBox.addEventListener("submit", (e) => {
          e.preventDefault();
          if (input.value && socket.readyState === WebSocket.OPEN) {
            const message = {
              Message: input.value,
            };
            socket.send(JSON.stringify(message));
            input.value = "";
          }
        });

        socket.addEventListener("message", (event) => {
          const messageContainer = document.createElement("li");
          const profilePicture = document.createElement("img");
          profilePicture.style.width = 50;
          const message = document.createElement("p");

          const msgData = JSON.parse(event.data);
          console.log("receiving this", JSON.stringify(msgData));
          profilePicture.src = msgData.AvatarUrl;
          message.innerText = `${msgData.Name}- ${msgData.When}: ${msgData.Message}`;

          if (msgData.AvatarUrl != "") {
            messageContainer.appendChild(profilePicture);
          }
          messageContainer.appendChild(message);
          messageContainer.style.display = "flex";
          messageContainer.style.flexDirection = "row";
          messageContainer.style.gap = "1rem";
          messageBox.appendChild(messageContainer);
        });

        socket.addEventListener("close", () => {
          const notice = document.createElement("li");
          notice.innerText = "Connection closed.";
          notice.style.color = "red";
          messageBox.appendChild(notice);
        });

        socket.addEventListener("error", (err) => {
          console.error("WebSocket error:", err);
        });
      });
    </script>
  </head>
  <body>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <ul id="messages"></ul>
        </div>
      </div>
      <form id="chatbox" role="form">
        <div class="form-group">
          <label for="message">Send a message as {{.UserData.name}} </label> or
          <a href="/logout">Sign out</a>
          <textarea id="message" class="form-control"></textarea>
        </div>
        <input type="submit" value="Send" class="btn btn-default" />
      </form>
    </div>
  </body>
</html>
